* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.calcolatrice-all {
  width: 200px;
  margin: 200px auto;
  border-radius: 10px;
}

.parte-superiore {
  background-color: lightgrey;
  text-align: center;
}

.big-box {
  background-color: lightgray;
}

.small-box {
  background-color: black;
  color: aquamarine;
  padding: 10px;
  text-align: right;
}

.container-button {
  flex-grow: 2;
  padding: 5px;
  height: 170px;
  text-align: center;
}

.layout-button {
  border: 0;
  background-color: orange;
  border-radius: 20%;
  width: calc(100% / 3 -3px);
  height: calc(100% / 4 - 5px);
  padding: 15px;
  margin-bottom: 5px;


}


.container-operations {
  flex-grow: 1;
  height: 170px;
}

.layout-operatin {
  border: 0;
  background-color: rgb(94, 181, 202);
  border-radius: 5%;
  width: 100%;
  height: calc(100% / 5 - 5px);
  padding: 15px;
  margin-bottom: 5px;
}
.general-container {
  display: flex;
}

.flexg-1{
    width: calc(100% / 3 * 2 - 3px); 
}