.parte-superiore {
  background-color: lightgrey;
  width: 300px;
  height: 80px;
  background-image: url(../img/Boosio-logo.png);
}
.big-box {
  background-color: lightgray;
  height: 300px;
  width: 300px;
  border-radius: 10%;
}

.small-box {
  background-color: black;
  color: aquamarine;
  padding: 20px;
  text-align: center;
}
.container-button {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.layout-button {
  
  padding: 20px;
  background-color: orange;
  border-radius: 20%;
  width: calc(100%/3);
  
}
.layout-button-{
 flex-grow: 1; 
 padding: 15px;
  background-color: orange;
  border-radius: 20%;
  
}

.container-operations{

width: calc(100%/3);
 display:flex;
flex-direction: column;
justify-content: flex-end;
}

.layout-operatin{
  
  padding: 15px;
  background-color:lightblue;
  border-radius: 20%;
  
  


}
.general-container{
   
}